# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/

# --- Entornos virtuales ---
.venv/
venv/
env/
ENV/

# --- Notebooks ---
.ipynb_checkpoints/

# --- Archivos de datos pesados ---
*.csv
*.tsv
*.parquet
*.xlsx
*.db
*.sqlite
*.h5
*.pkl
data/
datasets/
outputs/
models/
checkpoints/

# --- VS Code ---
.vscode/
*.code-workspace

# --- Sistema operativo ---
.DS_Store
Thumbs.db
